*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family:
    "Segoe UI",
    "Segoe UI Web (West European)",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

code,
pre,
kbd {
  font-family:
    "Cascadia Code", "Cascadia Mono", Consolas, "Courier New", monospace;
}

a {
  color: inherit;
}
